
 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fefefe;
  }
  
  .container {
    text-align: center;
    margin-top: 100px;
  }
  
  .logo {
    max-width: 200px;
    width: 200px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
  }
  
  .heading {
    font-size: 34px;
    margin-top: 40px;
    color: #0bec95;
    text-align: left; /* Set left alignment for paragraphs */
    width: 60%;
    margin: 20px auto;
    line-height: 1.6;
    margin-left: 26%;
  }
  
  .paragraph {
    margin: 20px auto;
    line-height: 1.4;
    text-align: left; /* Set left alignment for paragraphs */
    margin-left: 26%;
    font-size: auto;
  }
  
  .bold-text {
    font-weight: bold;
    font-size: auto;
  }
  
  .center {
    margin-right: 17%;
  }
  

  
  @media only screen and (max-width: 400px) {
    .container {
      margin-top: 50px;
    }
  
    .logo {
      width: 150px; /* Adjust size for smaller screens */
    }
  
    .heading {
      font-size: 25px;
      margin-left: 10%;
      width: 40%; /* Adjust width for smaller screens */
    }
  
    .paragraph {
        font-size: 15px;
      margin-left: 9%;
      width: 98%; /* Adjust width for smaller screens */
    }

    .bold-text {
        font-weight: bold;
        font-size: auto;
      }
       
center {
    margin-left: 5.5%;
    font-size: 12px;
    color: rgb(37, 36, 36);
  }
  }
